<div id="sidebar">
    <div id="sidebar-toggler" onclick="toggleSidebar()"><span class="bxr bx-menu"></span></div>
  <div class="sidebar-header">
    <div class="row">
      <img src="/assets/img/logo2.png" />
      <h2 class="sidebar-title">Invento</h2>
    </div>
    <p class="sidebar-text">Stok & Envanter Yönetim Sistemi</p>
  </div>
  <div class="sidebar-list-container">
    <div class="sidebar-list-header">Dashboard</div>
    <div class="sidebar-list">
      <a href="/" class="list-item <%= active == 'dashboard' ? 'sb-link-active' : '' %>"><span class="bxr bx-home-alt"></span><p>Anasayfa</p></a>
    </div>
    <div class="sidebar-list-header">Ürün Yönetimi</div>
    <div class="divider hidden"></div>
    <div class="sidebar-list">
      <a href="/urun-yonetimi/urunler" class="list-item  <%= active == 'urunler' ? 'sb-link-active' : '' %>"><span class="bxr bx-package"></span><p>Ürünler</p></a>
      <a href="/urun-yonetimi/yeni-urun" class="list-item <%= active == 'yeni-urun' ? 'sb-link-active' : '' %>"><span class="bxr bx-plus"></span><p>Yeni Ürün</p></a>
      <a href="/urun-yonetimi/kategoriler" class="list-item <%= active == 'kategoriler' ? 'sb-link-active' : '' %>"><span class="bxr bx-folder"></span><p>Kategoriler</p></a>
    </div>
    <div class="sidebar-list-header">Stok İşlemleri</div>
    <div class="divider hidden"></div>
    <div class="sidebar-list">
        <a href="/stok-islemleri/stok-durumu" class="list-item <%= active == 'stok-durumu' ? 'sb-link-active' : "" %>"><span class="bxr bx-chart-line"></span><p>Stok Durumu</p></a>
        <a href="/stok-islemleri/stok-girisi" class="list-item <%= active == 'stok-girisi' ? 'sb-link-active' : "" %>"><span class="bxr bx-arrow-in-down-square-half"></span><p>Stok Girişi</p></a>
        <a href="/stok-islemleri/stok-cikisi" class="list-item <%= active == 'stok-cikisi' ? 'sb-link-active' : "" %>"><span class="bxr bx-arrow-out-up-square-half"></span><p>Stok Çıkışı</p></a>
        <a href="/stok-islemleri/hareketler" class="list-item <%= active == 'hareketler' ? 'sb-link-active' : "" %>"><span class="bxr bx-history"></span><p>Hareketler</p></a>
    </div>
    <div class="sidebar-list-header">Raporlar</div>
    <div class="divider hidden"></div>
    <div class="sidebar-list">
        <a href="/raporlar" class="list-item <%= active == 'raporlar' ? 'sb-link-active' : "" %>"><span class="bxr bx-paperclip"></span><p>Raporlar</p></a>
    </div>
  </div>
  <div class="user-container">
    <% if (user) { %>
    <div class="user-profile">
        <div class="col">
            <img src="/assets/user_profiles/<%= user.avatar_url %>" >
        </div>
        <div class="col sb-act-toggle">
            <h5><%= user.ad_soyad %></h5>
            <p><%= user.role == 'staff' ? 'Personel' : user.role == 'admin' ? 'Yönetici' : 'Bilinmiyor' %></p>
        </div>
    </div>
    <div class="user-profile-actions sb-act-toggle">
        <a href="/ayarlar"><span class="bxr bx-cog"></span></a>
        <a href="/login/logout"><span class="bxr bx-arrow-out-left-square-half"></span></a>
    </div>
    <% } %>
  </div>
</div>
<script src="/assets/js/sidebar.js"></script>